.post-1 {
  background: #9d27b0;
}
.post-2 {
  background: #9bb800;
}
.post-3 {
  background: #ed5120;
}
.post-4 {
  background: #9d27b0;
}
.post-5 {
  background: #2d95bb;
}

body {
  font-family: roboto;
  background-color: #0b192f;
}

header {
  background-color: #024161;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  background-color: #1f52a4;
  color: #fff;
}

footer {
  background-color: #024161;
}

@media (min-width: 0px) and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0px auto;
  }
  .lines3 {
    margin-bottom: 30%;
  }

  .colums2 {
    position: absolute;
    top: 2805px;
  }

  .lines3 hr {
    margin: 5px 50%;
    text-align: center;
  }
  nav {
    width: 100%;
    height: 175px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
  }

  .menu {
    visibility: hidden;
  }

  .mainNews {
    width: 100%;
    height: 295px;
    background-image: url("../img/post0.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-bottom: 15px;
  }

  .main_block {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .colums1 {
    width: 100%;
  }

  .colums2 {
    width: 100%;
  }

  .post {
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: 50%;
  }

  .describe {
    width: 100%;
    cursor: pointer;
    height: 50%;
  }

  .image > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .image > img:hover {
    opacity: 0.5;
  }

  .news {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .newsText {
    width: 100%;
    height: auto;
  }

  .imgNews > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .logo {
    font-size: 35px;
    padding-left: 10px;
  }
  .firsPartLogo {
    color: #fff;
  }

  .secondPartLogo {
    color: #c42767;
  }

  a {
    padding: 30px 30px;
  }
  h1.title {
    color: #fff;
    font-weight: normal;
    font-size: 32px;
  }

  .describe .title:hover {
    opacity: 0.5;
  }

  p.shortInfo {
    font-size: 12px;
    color: #fff;
    line-height: 1.5;
  }

  p.headShortInfo {
    width: 90%;
  }

  .textOfMainNews {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .describe {
    display: flex;
    flex-direction: row;
  }

  .describeText {
    width: 85%;
    padding-left: 10px;
  }
  .describeData {
    width: 10%;
    text-align: right;
  }

  .postNoimage {
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .describeNoimage {
    width: 85%;
    margin-left: 10px;
  }
  .describeData {
    opacity: 0.3;
    justify-content: center;
    align-items: center;
  }

  .digits {
    color: #fff;
    font-size: 30px;
  }
  .mounth {
    color: #fff;
    font-size: 15px;
  }

  footer {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(143, 134, 134);
    line-height: 0.5;
    font-size: 15px;
    margin-top: 20px;
    position: relative;

    top: 960px;
  }
  .copyryth {
    font-size: 10px;
    text-align: center;
  }
  .author {
    font-size: 10px;
    text-align: center;
  }

  .news {
    width: 100%;
  }

  .newsText {
    padding: 15px;
    padding-top: 0px;
    width: 80%;
  }
  .title_news {
    font-size: 22px;
  }
  .shortInfo_news {
    font-size: 12px;
  }
  .postNoimage.post-5 .describeData {
    align-self: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0px auto;
  }
  .lines3 {
    margin-bottom: 30%;
  }

  .lines3 hr {
    margin: 5px 50%;
    text-align: center;
  }
  nav {
    width: 100%;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
  }

  .menu {
    visibility: hidden;
  }

  .mainNews {
    width: 100%;
    height: 295px;
    background-image: url("../img/post0.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-bottom: 15px;
  }

  .main_block {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colums1 {
    width: 64%;
  }

  .colums2 {
    width: 34%;
  }

  .post {
    width: 100%;
    height: 476px;
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: 50%;
  }

  .describe {
    width: 100%;
    cursor: pointer;
    height: 50%;
  }

  .image > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .image > img:hover {
    opacity: 0.5;
  }

  .news {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .newsText {
    width: 100%;
    height: auto;
  }

  .imgNews > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .logo {
    font-size: 35px;
    padding-left: 10px;
  }
  .firsPartLogo {
    color: #fff;
  }

  .secondPartLogo {
    color: #c42767;
  }

  a {
    padding: 30px 30px;
  }
  h1.title {
    color: #fff;
    font-weight: normal;
    font-size: 32px;
  }

  .describe .title:hover {
    opacity: 0.5;
  }

  p.shortInfo {
    font-size: 12px;
    color: #fff;
    line-height: 1.5;
  }

  p.headShortInfo {
    width: 90%;
  }

  .textOfMainNews {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .describe {
    display: flex;
    flex-direction: row;
  }

  .describeText {
    width: 85%;
    padding-left: 10px;
  }
  .describeData {
    width: 10%;
    text-align: right;
  }

  .postNoimage {
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 64%;
  }

  .describeNoimage {
    width: 85%;
    margin-left: 10px;
  }
  .describeData {
    opacity: 0.3;
    justify-content: center;
    align-items: center;
  }

  .digits {
    color: #fff;
    font-size: 30px;
  }
  .mounth {
    color: #fff;
    font-size: 15px;
  }

  footer {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(143, 134, 134);
    line-height: 0.5;
    font-size: 15px;
    margin-top: 20px;
  }
  .copyryth {
    font-size: 10px;
    text-align: center;
  }
  .author {
    font-size: 10px;
    text-align: center;
  }

  .news {
    width: 100%;
  }

  .newsText {
    padding: 15px;
    padding-top: 0px;
    width: 80%;
  }
  .title_news {
    font-size: 22px;
  }
  .shortInfo_news {
    font-size: 12px;
  }
  .postNoimage.post-5 .describeData {
    align-self: center;
  }
}

@media (min-width: 769px) {
  .lines3 {
    display: none;
  }
  body {
    width: 1400px;
    margin: 0 auto;
  }

  nav {
    width: 100%;
    height: 105px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }

  .mainNews {
    width: 100%;
    height: 440px;
    background-image: url("../img/post0.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-bottom: 15px;
  }

  .main_block {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colums1 {
    width: 74%;
  }

  .colums2 {
    width: 24%;
  }

  .post {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
  }

  .image {
    width: 50%;
  }

  .describe {
    width: 50%;
    cursor: pointer;
  }

  .image > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .image > img:hover {
    opacity: 0.5;
  }

  .news {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .newsText {
    width: 100%;
    height: auto;
  }

  .imgNews > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .logo {
    font-size: 35px;
    padding-left: 10px;
  }
  .firsPartLogo {
    color: #fff;
  }

  .secondPartLogo {
    color: #c42767;
  }

  a {
    padding: 30px 30px;
  }
  h1.title {
    color: #fff;
    font-weight: normal;
    font-size: 52px;
  }

  .describe .title:hover {
    opacity: 0.5;
  }

  p.shortInfo {
    color: #fff;
    line-height: 1.5;
  }

  p.headShortInfo {
    width: 65%;
  }

  .textOfMainNews {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .describe {
    display: flex;
    flex-direction: row;
  }

  .describeText {
    width: 85%;
  }
  .describeData {
    width: 10%;
    text-align: right;
  }

  .postNoimage {
    height: 215px;
    display: flex;
    flex-direction: row;
    width: 74%;
  }

  .describeNoimage {
    width: 85%;
    margin-left: 30px;
  }
  .describeData {
    opacity: 0.3;
  }

  .digits {
    color: #fff;
    font-size: 50px;
  }
  .mounth {
    color: #fff;
    font-size: 15px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 0.5;
    font-size: 15px;
    margin-top: 20px;
  }
  .copyryth {
    margin-left: 30px;
  }
  .author {
    margin-right: 30px;
  }

  .news {
    width: 100%;
  }

  .newsText {
    padding: 30px;
    padding-top: 0px;
    width: 80%;
  }
  .title_news {
    font-size: 35px;
  }

  .main_block > .colums1 > .post:nth-child(even) > .describe:nth-child(even) {
    order: -1;
    text-align: right;
  }

  .main_block
    > .colums1
    > .post:nth-child(even)
    > .describe
    > .describeData:nth-child(even) {
    order: -1;
    text-align: left;
    margin: 0px;
  }

  .main_block
    > .colums1
    > .post:nth-child(even)
    > .describe
    > div.describeText:nth-child(even) {
    text-align: right;
    margin-right: 4%;
  }

  .main_block
    > .colums1
    > .post:nth-child(odd)
    > .describe
    > div.describeText:nth-child(odd) {
    text-align: left;
    margin-left: 4%;
  }
}
