//FOR CSS 2

//Variables
$bg_color: #21242e;
$buttons_grad1_color: #e2ad02;
$keyword_grad2_color: #ff4e32;
$entitleColor: #fff;
$title_link_color: #fff;
$mainText_color: #d1d1d1;
$block_footer_color: #3b3f50;

//var for IMG for header
$pathImgForHeader: "img\m-h-night.jpg";
