//FOR CSS 1

//Variables
$bg_color: #fff;
$buttons_grad1_color: #699709;
$keyword_grad2_color: #209acf;
$entitleColor: #2c2f3c;
$title_link_color: #fff;
$mainText_color: #bbbec9;
$block_footer_color: #21242e;
