//Variables
$text:#777;
$someWhite:#FFFFFF;
$someBlack:#000;
$someYellow:#bfba55;

body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

.container
{
    .invisibleDiv
    {
        height: 87px;
        width: 100%;
    }
   min-width: 850px;
    //max-width: 850px;
    .menuAndLogo
    {
        position:fixed;
        width: 100%;
        height: 87px;
        display: flex;
        flex-direction: row;
        background-color: $someWhite;
        justify-content: space-around;
        padding-left: 50px;
        
       
        
            .logo
            {
                align-self: center;
                text-transform: uppercase;
                color: $text;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 5px;
                
            }
            .menu
            {
                align-self: center;
                font-size: 14px;
                word-spacing: 30px;
                
                
                a
                {
                    color: $text;
                    text-decoration: none;
                }
            }
        
    }
    .slayder
    {
     margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-bg.jpg);
    background-size: cover ;
    
    .welcomeText
    {
        font-size: 56px;
        font-weight: 600;
        color: $someWhite;
        
       margin-block-end: 5px;
       margin-block-start: 5px;
       position: relative;
       left:8px;
       
    }
    .describe-welcomeText
    {
    font-size: 11px;
    color:$someYellow ;
    
    letter-spacing: 3px;
    align-self: center;
    position: relative;
    bottom: -3px;

    
    }
    .btnDscvr
    {
        background-color: $someWhite;
        font-size: 10px;
        font-family: 'Merriweather', serif;
        padding:  15px 25px 15px;
        border-radius: 25px;
        letter-spacing: 2px;
        border: none;
        font-weight: bold;
        position: relative;
        bottom: -44px;
        
    }


    }
    .mainContent
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 5510px;
       
        
        .news
        {
            margin-top: 90px;
          // width: 940px;
          width: 850px;
           //min-width: 850px;
           //border: 1px solid red;
            .news-image
            {
                text-align: center;
                
                //width: 945px;
                .imgN
                {
                   display: block;
                   width: 100%;
                   height: 630px; 
                   object-fit: scale-down;
                   object-position: top;
                }
                
            }
            p.title
            {
                font-weight: bold;
                color: $someBlack;
                font-size: 26px;
                word-spacing: 2px;
                
                margin: 35px 0px 0px ;
            }
            .statistics
            
            {
                margin: 20px 0px 0px ;
                padding-right: 6px;
                
                .userLogo
                {
                    padding-right: 6px;
                vertical-align: middle;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                }
                .userName
                {
                    padding-right: 6px;
                    
                    color: $text;
                    font-size: 15px;
                    
                }
                .data
                {
                    padding-right: 6px;
                    color: $text;
                    font-size: 15px;
                }
                .comments
                {
                    padding-right: 5px;
                    color: $text;
                    font-size: 15px;
                }
            }
            p.textOfNews
            {
                font-size: 13px;
                line-height: 2;
                color: $text;
                word-spacing: 0.1px;
                
            }
            .btnConRea
            {
                background-color: $someWhite;
                font-size: 12px;
                font-family: 'Merriweather', serif;
                padding:  17px 21px 17px;
                border-radius: 25px ;
                letter-spacing: 2px;
                font-weight: bold;
                color: $text;
                border: 1px solid #bfbfbf;
                margin: 19px 0px 0px ;
            }
            hr{
                margin: 55px 0px 0px ;
                
                opacity: 0.3;
            }
        }
        

    }
    .footer
    {
        height: 356px;
        background-color: $someBlack;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        
        
        .epamLab
        {
            width: 432px;
            padding-top: 16px;
           
            .titleEpamLab
            {
                font-weight: bold;
                font-size: 28px;
                color:$someWhite ;
               
                
            }
            .shortInfo{
                color:$text;
                
                font-size: 14.5px;
                line-height: 2;
                
            }
            .copyrate{
                color:$text;
                
                
                font-size: 15px;
                line-height: 2;
                
            }
        }
        .talkToUs
        {
           // padding-right: 320px;
            width: 323px;
            .titleTalkToUs{
                font-weight: bold;
                font-size: 28px;
                color:$someWhite ;
                
            }
            .adress{
                color:$text;
                
                font-size: 14.5px;
                line-height: 2;
                
            }
            .phone{
                color:$text;
                
                font-size: 14.5px;
                
            }
            .mail{
                color:$text;
                
                font-size: 14.5px;
                
            }
        }
    }
}

//Псевдоклас для меню hover
.nav-Home a.nav-link-Home:hover,
.nav-About a.nav-link-About:hover,
.nav-Gallery a.nav-link-Gallery:hover,
.nav-Contact a.nav-link-Contact:hover
{
    color:$someYellow;
}

//5540px