/*

write your code here

*/

@media print {
  div.flex-item.tm-team-img,
  .boxes.gallery-container,
  .img-fluid.img-contact-us,
  nav,
  #contact {
    display: none;
  }
  .tm-content-box.flex-2-col {
    display: block;
    text-align: center;
  }
  /* selection {
    padding: 0px;
    margin: 0px;
  } */

  /* .padding-medium.flex-item.tm-team-description-container.flex-item {
    text-align: center;
    text-justify: auto;
  } */

  h2.tm-section-title {
    text-transform: uppercase;
  }

  section {
    display: flex;
    justify-content: center;
  }

  /* section.blocks {
    align-items: center;
  } */
  .tm-team-description-container {
    max-width: 100%;
  }
  .tm-main-content {
    padding: 0px;
  }
}

@media screen {
  /* Добавляємо hover і color до меню */
  .tm-nav-item-link:hover {
    background-color: lightskyblue;
    color: #fff;
  }

  /* Добавляємо градієнт і придаємо внутрішньому блоку фон білий */
  .tm-banner {
    background: linear-gradient(to right, lightskyblue, burlywood);
  }
  .tm-banner-inner {
    background: #fff;
  }

  /* Створюємо тінь для тексту в банері та задаєм колір тіні, а також підключаємо анімацію */
  p.tm-banner-text {
    text-shadow: 5px 5px 3px #333;
    animation-name: move_to_cntr_fr_rght;
    animation-duration: 5s;
  }

  /* Анімація з права на 200пкс для текстового блоку в шапці */
  @keyframes move_to_cntr_fr_rght {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0px);
    }
  }

  /* Вирівняємо картинку по праій стороні. Текст по лівому краю */
  div.tm-content-box.flex-2-col {
    text-align: left;
    display: flex;
    justify-content: center;
  }

  /* Вирівнюємо зображення по правому краю  */
  .flex-item.tm-team-img {
    justify-content: left;
  }

  /* What we do по центру */
  .tm-content-box.flex-2-col
    .padding-medium.flex-item.tm-team-description-container.flex-item
    .tm-section-title {
    text-align: center;
  }
  /* Контейнер з текстом вирівнюємо по центру*/
  div.padding-medium.flex-item.tm-team-description-container {
    align-self: center;
  }

  /* Добавляємо hover ефект в галерею */
  .tm-section-title.tm-section-title-box.tm-box-bg-title:hover {
    background-color: lightgrey;
    font-style: italic;
    color: lightskyblue;
  }

  /* Вирівнюємо напис we are */
  section.heading h2 {
    color: lightskyblue;
    text-align: center;
  }

  /* Змінюємо тип перечислення для списку */
  section.heading ol {
    list-style-type: lower-alpha;
  }

  /* Добавляємо знак > до кожного елемента списку */
  section.heading ol li:hover::before {
    content: ">";
  }

  /* Добавляємо надпис New */
  .text::after {
    content: "New";
    display: inline-block;
    color: red;
    vertical-align: top;
    font-size: 10px;
    font-weight: bold;
    font-variant: normal;
  }

  /* Our work по лівому краю */
  div.padding-medium.flex-item.tm-team-description-container
    h2.tm-section-title {
    text-align: left;
  }

  /* Відствнь між буквами */
  .blocks .padding-medium.flex-item.tm-team-description-container p:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
  }

  /* Стилізація блоку парних і непарних об'єктів */
  .blocks ul.boxes.gallery-container li:nth-child(odd) {
    background-color: lightskyblue;
    color: #fff;
  }
  /* Міняємо параграфи на італік та кожну 1 букву жирним */
  ul.boxes.gallery-container p {
    font-style: italic;
  }
  ul.boxes.gallery-container p:first-letter {
    font-weight: bold;
  }
  /* Внутрішні відступи для блоків */
  .box.box-work {
    padding: 10px;
  }

  /* Відступи для абзаців в тексті і межстрочный интервал*/
  .tm-section-description {
    text-indent: 25px;
    line-height: 30px;
  }
  /* Створюємо рамку знизу */
  #contact_name,
  #contact_email,
  #contact_subject {
    border: 0px;
    border-bottom: 1px solid lightskyblue;
  }

  /* Створюємо фокус для форм */
  #contact_name:focus,
  #contact_email:focus,
  #contact_subject:focus {
    background-color: lightskyblue;
  }
  #contact_message {
    border: 1px solid lightskyblue;
    background: url(../img/email-icon.png) no-repeat;
    background-size: 3%;
    background-position: bottom 10px right 10px;
  }

  .btn.btn-primary.submit-btn {
    color: lightskyblue;
    background-color: #fff;
    border-color: lightskyblue;
    float: right;
    padding: 15px 25px;
  }

  /* Тінь для навігації, секцій, хеадера */
  .tm-main-nav {
    box-shadow: 1px 1px 5px 1px rgba(61, 55, 61, 0.7);
  }

  section {
    box-shadow: 1px 1px 5px 1px rgba(61, 55, 61, 0.7);
  }
  #home {
    box-shadow: 1px 1px 5px 1px rgba(61, 55, 61, 0.7);
  }

  /* Добавляємо трикутник */
  section::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid lightskyblue;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid lightskyblue;
  }
}
