/*

write your code here

*/

/* Добавляємо hover і color до меню */
.tm-nav-item-link:hover {
  background-color: lightskyblue;
  color: #fff;
}

/* Добавляємо градієнт і придаємо внутрішньому блоку фон білий */
.tm-banner {
  background: linear-gradient(to right, lightskyblue, burlywood);
}
.tm-banner-inner {
  background: #fff;
}

/* Створюємо тінь для тексту в банері та задаєм колір тіні, а також підключаємо анімацію */
p.tm-banner-text {
  text-shadow: 5px 5px 3px #333;
  animation-name: move_to_cntr_fr_rght;
  animation-duration: 5s;
}

/* Анімація з права на 200пкс для текстового блоку в шапці */
@keyframes move_to_cntr_fr_rght {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}

/* Вирівняємо картинку по праій стороні. Текст по лівому краю */
div.tm-content-box.flex-2-col {
  text-align: left;
  display: flex;
  justify-content: center;
}

/* Вирівнюємо зображення по правому краю  */
.flex-item.tm-team-img {
  justify-content: left;
}

/* What we do по центру */
h2.tm-section-title {
  text-align: center;
}
/* Контейнер з текстом вирівнюємо по центру*/
div.padding-medium.flex-item.tm-team-description-container {
  align-self: center;
}

/* Відступи для абзаців в тексті */
.tm-section-description {
  text-indent: 25px;
}

/* Добавляємо hover ефект в галерею */
.tm-section-title.tm-section-title-box.tm-box-bg-title:hover {
  background-color: lightgrey;
  font-style: italic;
  color: lightskyblue;
}
